<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">入力を心地良いものに</h2>
                <hr class="light">
                <p class="text-faded">日常的に触っている PC やスマートフォン。</p>
                <p class="text-faded">その入力はあなたにとって心地よいものだろうか？</p>
                <p class="text-faded">電子機器があふれる現代に、誰もが触っていたいと思える入力を。</p>
                <hr class="light">
                <p class="text-faded">QNU (クニュ) / Utter (アター)</p>
                <a href="#feature" class="btn btn-default btn-xl page-scroll">Feature</a>
            </div>
        </div>
    </div>
</section>
