<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">絶対に負けられないじゃんけん＜闘い＞がそこにはあった</h2>
                <hr class="light">
                <p class="text-faded">日本人が日常の争いを終結するための民主的な闘い。</p>
                <p class="text-faded">それは「じゃんけん」と呼ばれている...</p>
                <hr class="light">
                <p class="text-faded">絶対に負けられない「じゃんけん」を経験した人も少なくないだろう。</p>
                <p class="text-faded">そのために、我々は DENKEN　＜電拳＞ を開発した</p>
                <a href="#feature" class="btn btn-default btn-xl page-scroll">Feature</a>
            </div>
        </div>
    </div>
</section>
