<section class="no-padding" id="activity">
    <div class="container-fluid text-center">
        <h2 class="section-heading">Activity</h2>
        <hr class="dark">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://kukuru99ru.wixsite.com/atmms/single-post/2017/04/12/Yahoo-JAPAN-%E3%81%AE%E3%82%B3%E3%83%AF%E3%83%BC%E3%82%AD%E3%83%B3%E3%82%B0%E3%82%B9%E3%83%9A%E3%83%BC%E3%82%B9%E3%81%B8%E8%A1%8C%E3%81%A3%E3%81%A6%E3%81%8D%E3%81%9F" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <!-- <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                コワーキングスペースでの工作
                            </div>
                        </div>
                    </div> -->
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#services" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <!-- <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                スピーカーの仮止め
                            </div>
                        </div>
                    </div> -->
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://kukuru99ru.wixsite.com/atmms/single-post/2017/03/14/iPhone-%E3%82%A2%E3%83%97%E3%83%AA%E9%96%8B%E7%99%BA" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <!-- <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div> -->
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://ccsakura-official.com/" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <!-- <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div> -->
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://kukuru99ru.wixsite.com/atmms/single-post/2017/03/12/ATMMS%E8%A9%A6%E4%BD%9C%E6%A9%9F1%E5%8F%B7" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <!-- <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div> -->
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://kukuru99ru.wixsite.com/atmms/single-post/2017/03/14/%E9%97%87%E3%81%AE%E5%8A%9B%E3%82%92%E7%A7%98%E3%82%81%E3%81%97%E9%8D%B5Electronics" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <!-- <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div> -->
                </a>
            </div>
        </div>
    </div>
</section>
