<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">まったく新しい音楽体験</h2>
                <hr class="light">
                <p class="text-faded">それは、人間情報工学の問いから始まった。</p>
                <p class="text-faded">日常では体験することのない10個にも及ぶスピーカーから周期的に発せられた音を受け取ったとき、ヒトはどのような認識を行うのか。</p>
                <p class="text-faded">そして同時に GVSから得られる加速度感覚が合わさったとき、ヒトは何を感じるのか。</p>
                <p class="text-faded">その仮説に対する答えは、このヘッドホンの音の先にある。</p>
                <a href="#feature" class="btn btn-default btn-xl page-scroll">Feature</a>
            </div>
        </div>
    </div>
</section>
