<section id="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Feature</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="service-box">
                    <img class="wow bounceIn" src="img/qnu/interface.png" height="70px" style="display:inline-block"></img>
                    <h3>QNU: 握り心地を追求したインターフェース</h3>
                    <p class="text-muted">ウレタン素材を利用した握りやすいインターフェース</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-box">
                    <img class="wow bounceIn text-primary" src="img/qnu/tap_shake.png" height="70px" data-wow-delay=".1s"></img>
                    <h3>QNU: タップと長押し、振ることによる直感的な入力</h3>
                    <p class="text-muted">球体内部の圧力センサと加速度センサで自然な入力を</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-box">
                    <img class="wow bounceIn text-primary" src="img/qnu/throat.png" height="70px" data-wow-delay=".2s"></img>
                    <h3>Utter: 喉にあてて話すだけ</h3>
                    <p class="text-muted">喉の振動を音へ変換</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-box">
                    <img class="wow bounceIn text-primary" src="img/qnu/bluetooth.png" height="70px" data-wow-delay=".3s"></img>
                    <h3>Utter: 声は bluetooth で送信</h3>
                    <p class="text-muted">煩わしいコードから解放</p>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align:center;">
        <div class="text-center" style="margin:40px 0px 0px 0px;width:50%;display:inline-block;">
            <img src="img/qnu/qnu_system.jpg" class="img-responsive"></img>
        </div>
    </div>
</section>
