<section class="bg-primary" id="member">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">Member</h2>
                <hr class="light">
                <p>
                  週末に集まってものづくりをしているサークルです．人間とITをテーマに様々な作品を製作しています．
                </p>
                <p>
                  メンバーの活動実績として， SIGGRAPH, CEDEC, TOKYO Game Showなどあります．
                </p>
                <hr class="light">
                <div class="row">
                  <div class="col-lg-4 col-md-6 text-center">
                      <div class="service-box">
                          <h3>Kazuma Aoyama</h3>
                          <p class="member-text">
                              GVS回路担当。GVS研究の第一人者であり、人間情報工学における気鋭の若手研究者。好きな曲は 僕のフレンド
                          </p>
                          <a href="https://sites.google.com/site/gvslover/" style="color:deepskyblue;">gvslover</a>
                      </div>
                  </div>
                  <!--col-md-6 にするとサイズが大きく計算される謎-->
                  <div class="col-lg-4 col-md-6 text-center">
                      <div class="service-box">
                          <h3>Wataru Torii</h3>
                          <p class="member-text">
                              制御回路担当。宇宙航空分野の研究者として人工衛星通信機器の設計に携わる。好きな曲は ホルン協奏曲/モーツァルト
                          </p>
                          <a href="http://d.hatena.ne.jp/wvogel00/" style="color:deepskyblue;">wvogel日記</a>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 text-center">
                      <div class="service-box">
                          <h3>Kazuki Matsui</h3>
                          <p class="member-text">
                              ヘッドホン・スピーカー回路担当。楽器メーカーに勤務しつつ、余暇にオーディオアンプを開発する。好きな曲は 透明人間/椎名林檎
                          </p>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-6 text-center">
                      <div class="service-box">
                          <h3>Akira Masuda</h3>
                          <p class="member-text">
                              iPhoneアプリ開発担当。Webエンジニアとして、野とも山ともつかないコードを日夜生成している。好きな曲は フラクタル/tacica
                          </p>
                          <a href="http://amasuda.xyz/" style="color:deepskyblue;">amasuda.xyz</a>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 text-center">
                      <div class="service-box">
                          <h3>Satoru Sakurai</h3>
                          <p class="member-text">
                              シニアアドバイザー。電機メーカーで照明に携わるかたわら、チームにも明かりを灯し、さらにライブでもライトを振りかざす。
                          </p>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 text-center">
                      <div class="service-box">
                          <h3>Hideyuki Ando</h3>
                          <p class="member-text">
                              大阪大学大学院 情報科学研究科 バイオ情報工学専攻准教授。人間情報工学の専門家としてメンバーへのアドバイスを行う。
                          </p>
                          <a href="http://www-hiel.ist.osaka-u.ac.jp/~hide/" style="color:deepskyblue;">安藤 英由樹のホームページ</a>
                      </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
</section>
