<section class="bg-primary" id="member">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Member</h2>
                <hr class="light">

                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <!-- <img class="wow bounceIn" src="img/kururi_engine.png" height="70px" style="display:inline-block"></img> -->
                        <h3>A</h3>
                        <p class="text-muted">GVS</p>
                    </div>
                </div>
                <!--col-md-6 にするとサイズが大きく計算される謎-->
                <div class="col-lg-3 col-md-5 text-center">
                    <div class="service-box">
                        <!-- <i class="fa fa-4x fa-bolt wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                        <!-- <img class="wow bounceIn text-primary" src="img/gvs.png" height="70px" data-wow-delay=".1s"></img> -->
                        <h3>T</h3>
                        <p class="text-muted">宇宙</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <!-- <i class="fa fa-4x fa-mobile wow bounceIn text-primary" data-wow-delay=".2s"></i> -->
                        <h3>M</h3>
                        <p class="text-muted">音楽</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 text-center">
                    <div class="service-box">
                        <!-- <i class="fa fa-4x fa-file-text-o wow bounceIn text-primary" data-wow-delay=".3s"></i> -->
                        <h3>M</h3>
                        <p class="text-muted">Web</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 text-center">
                    <div class="service-box">
                        <!-- <i class="fa fa-4x fa-file-text-o wow bounceIn text-primary" data-wow-delay=".3s"></i> -->
                        <h3>S</h3>
                        <p class="text-muted">Electronics</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
