<section class="bg-primary" id="products">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">Products</h2>
                <hr class="light">
                <p>
                  <a href="./kururi.html" style="color:deepskyblue;">KURURI</a>
                </p>
                <p>
                  まったく新しい音楽体験を実現するために作られた、GVS 内蔵ヘッドホン KURURI。<br />
                  Maker Faire Tokyo 2017 出展作品
                  <a href="http://makezine.jp/event/makers2017/m0072/" style="color:deepskyblue;">くるり | Maker Faire Tokyo 2017 | Make: Japan</a>
                </p>
            </div>
        </div>
    </div>
</section>
