<section class="bg-primary" id="products">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">Products</h2>
                <hr class="light">
                <h3>
                  <a href="./denken.html" style="color:deepskyblue;">電拳 -DENKEN-</a>
                </h3>
                <p>
                  絶対に負けられないじゃんけんがそこにある。電気刺激型じゃんけん必勝装置 DENKEN<br />
                  Maker Faire Tokyo 2018 出展作品
                  <a href="https://makezine.jp/event/makers2018/m0318/" style="color:deepskyblue;">ATMM | Maker Faire Tokyo 2018 | Make: Japan</a>
                </p>
                <h3>
                  <a href="./kururi.html" style="color:deepskyblue;">KURURI</a>
                </h3>
                <p>
                  まったく新しい音楽体験を実現するために作られた、GVS 内蔵ヘッドホン KURURI。<br />
                  Maker Faire Tokyo 2017 出展作品
                  <a href="https://makezine.jp/event/makers2017/m0072/" style="color:deepskyblue;">くるり | Maker Faire Tokyo 2017 | Make: Japan</a>
                </p>
            </div>
        </div>
    </div>
</section>
